.App {
  text-align: center;
}


.navbar{ 
 background-color: #dbdbdb;
 margin: 5;
 padding: 20px 10px;
 background-attachment: fixed;
 border-radius: 4px;

}

.heading{
background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395__340.jpg") ;
text-shadow: 0.1px 0.1px #291c1c;
background-repeat: no-repeat;
background-size: 3500px 1800px;
color: #f7fffe;

padding: 575px 80px;
}


.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
  
}

.heading-middle{
  float: middle;
}
img {
  border-radius: 50%;
}
.footer{
background-color: rgb(255, 255, 255);;
padding: 700px 80px;;
background-image: url("https://cdn.pixabay.com/photo/2018/04/17/17/15/italian-3328121__340.png");
background-position: right top;
background-repeat: no-repeat;

}
.footerbox {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  margin: auto;
}

/***************************
****************************
These are the styles for
the header section
****************************
***************************/